.navbar
{
    display: flex;
    padding: 1em;
    justify-content: space-between;
    border-bottom: 1px solid #EAEAEA;
}


.navbar p
{
    margin: 0;
    color: #A31E37;
    font-weight: bold;
}

.mainLogo
{
    padding-top: 1.5em;
    font-size: 1.5em;
}

.mainLogoBottom
{
    font-size: 0.7em;
}