body
{
  background-color: #FAFAFA;

}

.mainContentContainer
{
  display: flex;
  justify-content: center;
}

.sideInputContainer
{

  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 2em;
}

.mainGoalInfoContainer
{
  display: flex;
  justify-content: center;
}

.welcomeContainer
{

  font-size: 1.3em;
  width: 30%;
  text-align: center;
  color: #434041;
}











