.createGoalContainer
{
  /* max-width: 45%; */
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  background-color: white;
  opacity: 100%;
  width: 48em;
  color: #334365;
  position: relative;
  padding: 1em;

}



.boostContainer h2
{
    color: #334365;
}

#createGoalTitle
{
    font-size: 2em;
    margin-bottom: 0;
}

.createGoalFormContainer, .createGoalHeaderContainer
{
    padding: 1em;
    margin: 0;
}

.createGoalHeaderContainer
{
    padding: 0;
    padding-top: 0.1em;
    padding-left: 1em;
    padding-bottom: 0.1em;



}

.createGoalFormContainer label
{
    margin-bottom: 0.5em;
    color: #334365;
    font-weight: bold;
}

.createGoalContainer input
{
    width: 190px;
    margin-right: 2em;
    height: 30px;
    box-sizing: border-box;

    border-style: solid;
    border-width: 1px;
    padding: 0.5em;
    border-color: #E0E0E1;

}

.createGoalContainer textarea
{
    width: 100%;
    height: 50px;
}

.createGoalInputContainer
{
    display: flex;
    justify-content: space-between;
    margin-bottom: 2em;
}

.createGoalInputContainer div
{
    display: flex;
    flex-direction: column;
}


#imgUploadContainer
{
    display: flex; 

    align-self: flex-end;
    width: 220px;
}




#imgUploadContainer input
{
    display: flex;
    flex-direction: column;
    border: none;
}

#imgUploadContainer input
{
    display: flex;
    flex-direction: column;
}


.createGoalDivider
{
 color: #E8E7E7;
}


.CreateGoalButtonContainer
{
    display: flex;
    justify-content: flex-end;
    margin-top: 1em;
    width: 180%;


}




#createCancelBtn
{
   
    color: #A8A9A8;
    background-color: #FFFFFF;
    border: 1px solid #A8A9A8;
    padding: 0;
    font-size: 1.3em;
    cursor: pointer;
    width: 120px;
    border-radius: 5px;
}



#createSaveBtn
{

    color: white;

    padding: 0;
    font-size: 1.3em;
    cursor: pointer;
    width: 120px;

    background-color: #4ECE7A;
    border: none;

    border-radius: 5px;

}


#createSaveBtn:hover
{
    background-color: rgb(78, 184, 115);
}

#descriptionContainer textarea
{
    margin-top: 1em;
    border: 1px solid #A8A9A8;

}

.createGoalMainSectionContainer
{
    display: flex;
}

#createGoalImage
{
    height: 150px;
    width: 280px;
  
}

.createImageContainer
{
    display: flex;
    width: 40%;
    align-items: center;
    height: 300px;
    justify-content: center;
}
#createDivider
{
   opacity: 20%;
}


.moneyInputContainer{
	display:inline-block;
	position: relative;
	}
.moneyInputContainer input
{
    padding-left:15px;
    padding-bottom: 3px;
}
.moneyInputContainer:before{
	position: absolute;
    content:"$";
    left:5px;
	top: 33px;
     }
     






.inputFile {
        width: 0.1px;
        height: 0.1px;
        opacity: 0;
        overflow: hidden;
        position: absolute;
        z-index: -1;
}

#goalImgLabel
{

    max-width: 110px;
    cursor: pointer;
    padding: 0.5em;
    margin-top: 1.3em;
    background-color: #F3F2F5;
    color: #334365;

}