.depositContainer
{
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
    padding: 1em;
    border-radius: 5px; 
    background-color: white;
    margin-bottom: 1em;
    
    width: 20vw;
    max-width: 200px;
    height: 16em;
    flex-wrap: wrap;

}

.depositContainer h2
{
    font-size: 1em;
    color: #434041;
}
.depositContent
{
    display: flex;
    flex-direction: column;
    padding: 1em;
}

.depositContent div
{
    margin-bottom: 1em;
}

.depositeUserDate select
{
    width: 100%;
    border-style: solid;
    border-width: 1px;
    padding: 0.5em;
    border-color: #E0E0E1;
}
.depositeUserDate input
{
    width: 100%;
    box-sizing: border-box;

    border-style: solid;
    border-width: 1px;
    padding: 0.5em;
    border-color: #E0E0E1;

}
.depositSubmit input:hover
{
    background-color: rgb(209, 61, 68);
}

.depositeUserDate label
{
    display: block;
    width: 100%;
    margin-bottom: 0.5em;


}

.depositSubmit
{
    display: flex;
    justify-content: center;

}
.depositSubmit input
{
    background-color: #BE3038;
    border: none;
    color: white;
    font-size: 1.1em;
    padding: 0.5em;
    border-radius: 5px;
    width: 100px;

}
