table
{
    border-collapse: collapse;
    width: 100%;

    /* min-width: 700px; */
    min-width: 290px;

}

/* selecting tr for the padding was not working so did on each element  */
.itemAtStart
{
    padding-left: 1em;
}

.itemAtend
{
    padding-right: 1em;
}


.tableContainer
{
    min-width: 300px;
    max-height: 300px;
    overflow: scroll;


}


.goalTable th
{
    text-align: center;
    padding-left: 1em;
    margin: 0;
    padding: 0.5em;
    font-size: 0.8em;
}



.goalTable td{

    text-align: center;
    padding-bottom: 1em;
    padding-top: 1em;
    border-bottom: 1px solid #E8E7E7;
}

.goalDetailTableHeader th
{
    /* position:absolute; */
    background-color: #F2F1F1;
}


.onTrack
{
    color: #53A576;
}

.notOnTrack
{
    color: #C85B6D;

}


th:not([scope=row]) {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 2;
  }


  .sortPointer
  {
    cursor: pointer;
  }